## Pandas
Значительно более медленный, чем numpy, но у него более широкий функционал, прежде всего для анализа данных. Это как бы большой эксель программиста.

Структуры данных:  
__Series__ это столбец (одномерный)
__DataFrame__ это двумерный набор данных: состоит из строк и столбцов.

Для установки Pandas: pip install Pandas

In [1]:
import pandas as pd

### Series

В отличие от Numpy, Series можно создавать с разными типами данных. При этом тип данных будет object.  
Второй момент: каждая строка имеет индекс.

In [3]:
obj = pd.Series([1, "John", 3.5, "Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

По идексу внутри Series можно обращаться к объкту:

In [4]:
obj[1]

'John'

__values__: с помощью values можно получить все данные, которые хранятся в Series, как массив (array)

In [5]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

Индексы в Series могут быть выражены не только числами, а также и буквами:

In [6]:
obj2 = pd.Series([1, "John", 3.5, "Hey"], index = ['a', 'b', 'c', 'd'])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [7]:
obj2['b']

'John'

index: можно получить все индексы в Series:

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
score = {"Jane":90, "Bill": 80, "Elon":85, "Timothy": 90, "Shalame": 30}
score

{'Jane': 90, 'Bill': 80, 'Elon': 85, 'Timothy': 90, 'Shalame': 30}

In [13]:
names = pd.Series(score)
names

Jane       90
Bill       80
Elon       85
Timothy    90
Shalame    30
dtype: int64

In [14]:
names["Timothy"]

90

Можно использовать маски по индексам как фильтрацию:

In [16]:
names[names>=85]

Jane       90
Elon       85
Timothy    90
dtype: int64

Можно присваивать новые значения по индексам или с условиями:

In [19]:
names["Timothy"]=70
names

Jane       90
Bill       80
Elon       85
Timothy    70
Shalame    83
dtype: int64

In [20]:
names[names<80]=83
names

Jane       90
Bill       80
Elon       85
Timothy    83
Shalame    83
dtype: int64

Булевая операция с помощью __in__:

In [25]:
"Elon" in names

True

In [26]:
"Anton" in names

False

Можно производить __математические операции__ с Series.  
При этом данные, которые выводятся, никуда не записываются. Чтобы они записались, нужно ввести новую переменную.

In [31]:
names/10

Jane       9.0
Bill       8.0
Elon       8.5
Timothy    8.3
Shalame    8.3
dtype: float64

names**2

In [33]:
names

Jane       90
Bill       80
Elon       85
Timothy    83
Shalame    83
dtype: int64

__Проверка на пустые строки: .isnull()__

In [34]:
names.isnull()

Jane       False
Bill       False
Elon       False
Timothy    False
Shalame    False
dtype: bool

### DataFrame

__Импорт CSV файлов:__